---

---
<html class="bg-gray-100 font-sans">
  <head>
    <link href="../styles/global.css" rel="stylesheet">
  </head>
  <body class="m-0 mx-auto w-full max-w-5xl p-4 leading-6">
    <slot />
  </body>
</html>